/*@import url(google font) */
body{
    /* background-color: #282c34; */
    background-color:  #242222;
}
/* Old navbar Logo
.logo{
    background-image: url(./img/logo3.jpg);
    background-repeat: no-repeat;
    height: 126px;
    width: 120px;
    background-position: bottom;
    background-position: contain;
} */
/*Dropdown in hamburgermenu mobile screen*/
.dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
}
.dropdown {
    z-index: 9999;
}