body{
    /* background-color: #282c34; */
    background-color:  #242222;
}
.logo{
    background-image: url(./img/logo4.jpg);
    background-repeat: no-repeat;
    height: 128.5px;
    width: 130px;
    background-position: bottom;
    background-position: contain;
}
.dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
}
.dropdown {
    z-index: 9999;
}